.container{
	padding : 50px;
}

.addMore {
	margin-top: 5px;
}

#gotoup {
	bottom: 20px ;
	right: 20px;
	position: fixed;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.menustyle {
	width: 250px;
}

.innerdivision {
	height: 200px;
	width: 200px;
	color: white ;
	background: green ;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.outerdiv {
	height: 300px;
	width: 300px;
	border: 2px solid #666;
	margin : 0px auto;
}